
@media (max-width: 1200px) {

    /* Chat box*/
    .home__chat {
        width: 55px;
        right: 2vw;
    }
    .chat__text {
        display: none;
    }

    /* Drop down menu |----------------------------------------------*/
    .dropdown-container {
        display: block;
        position: fixed;
        top: 4vh;
        right: 5vw;
        z-index: 99;
    }

    button {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
    }

    .dropdown__button {
        font-size: 4vh;
    }

    .dropdown__content {
        display: none;
    }


    /* Section 1 ---------------------------------------------- */    
    .home__header {
        grid-template-columns: 70% 30%;
        height: auto;
        padding-top: 4vh;
        padding-left: 3vw;
    }

    .header__navigation {
        display: none;
    }

    .home__headline {
        position: static;
        margin: 15vh auto;
        width: 80vw;
    }

    .headline {
        margin: auto;
        font-size: 5vw;
    }

    /*                                               IMG 3 */
    .background-img3 {
        display: none;
    }

    @media (max-width: 700px) and (orientation: portrait) {
        .headline {
            font-size: 10vw;
        }

        .headline__button.button-type1 {
            margin: 3vh auto;
            font-size: 3vw;
            width: 40%;
        }
    }

    .headline__button.button-type1 {
        margin: 3vh auto;
    }

    .background-img3 {
        display: none;
    }


    /* Section 1.2 - Services---------------------------------- */
    .services-section {
        height: auto;
    }

    .services-container {
        padding: 50px 0 100px;
        width: 90vw;
    }
    
    
    .services__icons {
        width: 60vw;
        display: flex;
        justify-content: space-between;
    }

    .services__icon {
        height: auto;
    }


    /* Section 2 ---------------------------------------------- */
    .section2 {
        height: auto;
    }
    
    .s2-container {
        width: 80vw;
        padding: 50px 0 100px;
        display: flex;
        flex-direction: column;
    }

    .s2-text {
        height: auto;
        padding: 50px 0 0 0;
    }

    .s2-img3 {
        display: none;
    }

    .s2-img3-2 {
        display: block;
        height: inherit;
        width: inherit;
        margin: 0;
        object-fit: cover;
    }


    /* Section 3 ---------------------------------------------- */
    .section3 {
        height: auto;
    }
    
    .s3-container {
        width: 80vw;
        padding: 50px 0 100px;
        display: flex;
        flex-direction: column;
    }

    .s3-text {
        height: auto;
        padding: 50px 0 0 0;
    }

    .s3-img4 {
        display: block;
        height: inherit;
        width: inherit;
        margin: 0;
        object-fit: cover;
    }

    /* Section 4 ---------------------------------------------- */
    .section4 {
        height: auto;
    }

    .s4-container {
        padding: 50px 0 100px;
    }

    .blog-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90vw;
    }

    .posts-container {
        width: 300px;
        height: auto;
        margin-bottom: 20px;
    }

    .s4-container > .button-type2 {
        margin: 0;
    }

    /* Footer ---------------------------------------------- */
    .footer {
        height: auto;
    }

    .footer-container {
        height: auto;
        width: 90vw;
        margin: auto;
        padding-bottom: 10vh;
    }

    .footer__logo {
        width: 40vw;
    }

    .footer__button.button-type1 {
        font-size: 1rem;
        margin: 20px 0;
    }

    .footer-container > p {
        margin: 5px 0;
        font-size: 1.2rem;
        text-align: center;
    }

}