@media (max-height: 800px) and (orientation: landscape) {

    /* Home section |------------------------------------------*/
    .home-section {
        height: 100vh;
    }
    
    .home__header {
        margin-top: 2vw;
        height: auto;
    }

    .home__headline {
        position: absolute;
        top: 35vh;
        left: 10vw;
        margin: auto;
        width: 80vw;
    }

    .headline__button.button-type1 {
        margin: 3vh auto;
    }

    .headline {
        font-family: var(--font1);
        font-size: 4rem;
        width: 45vw;
        line-height: 1.6;
        padding-bottom: 10px;
        background: #FDD8A5;
        background: -webkit-linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
        background: -moz-linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
        background: linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin: auto;
    }

    .background-img3 {
        display: none;
    }
   
    /* Service section |------------------------------------------------- */
    .services-section {
        height: auto;
    }

    /* Section 2 ---------------------------------------------- */
    .section2 {
        height: auto;        
    }

    .s2-container {
        padding: 50px;
    }

    .s2-text {
        height: auto;
    }

    /* Section 3 ---------------------------------------------- */
    .section3 {
        height: auto;        
    }

    .s3-container {
        padding: 50px;
    }

    .s3-text {
        height: auto;
    }

    /* Section 4 ---------------------------------------------- */
    .section4 {
        height: auto;        
    }

    .s4-container {
        padding: 50px;
    }

    /* Footer ---------------------------------------------- */
    .footer {
        height: auto;
    }
    
    .footer-container {
        height: auto;
    }

    
}