/* Big |----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */

@font-face {
    font-family: Agne;
    src: url(source/Agne400.otf);
}

:root {
    --font1: Agne;
    --font2: Open Sans;
    --font3: Roboto;
 
}

body {
    margin: 0 auto;
    font-size: 1.2rem;
    overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 15px;
}

/* Medium |----------------------------------------------*/
.headline-type1 {
    font-family: var(--font1);
    letter-spacing: 2px;
    font-size: 1.5rem;

}

.body-type1 {
    font-family: var(--font3);
    line-height: 1.4;
    font-size: 1.2rem;
}

.button-type1 {    
    font-family: var(--font2);
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.30rem;
    border-radius: 4px;
    padding: 8px 20px;
    width: 200px;
    font-weight: bold;
    transition: 0.2s;
    color: white;
    border: white 2px solid;
    position: relative;
    margin: auto;
}

.button-type1:hover {
    cursor: pointer;
    background-color: white;
    color: teal;
}

.button-type2 {    
    font-family: var(--font2);
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.30rem;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 10px 30px;
    width: auto;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 3vh;
    background-color: none;
}

.button-type2:hover {
    cursor: pointer;
    border-color: #dfcda8;
    background-color: #dfcda8;
    color: white;
}

/* Small|----------------------------------------------*/
/* Feilmelding|----------------------------------------*/
#error-message {
    text-align: center;
    font-family: var(--font2);
    font-size: 1.4rem;
    color: red;
    padding: 20px 0;
}

.error--hidden {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99;
    transform-origin:50% 50%;
    opacity:0;
    transition: transform 0.1s, opacity 0.1s 0.1s;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 23%);
}

.error--show {
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99;
    opacity:1;
    box-shadow: 0px 20px 50px rgb(0 0 0 / 23%);
}


/* Chat |----------------------------------------------*/
.home__chat {
    width: 160px;
    height: 50px;
    background: rgb(23, 48, 58);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 40px;
    border-radius: 10px 10px 0 0;
    border: rgba(228, 213, 213, 0.253) solid;
    border-width: 1px 1px 0 1px;
    cursor: pointer;
    z-index: 99;
}

.chat__icon {
    width: 40px;
    height: 30px;
    filter: brightness(0) invert();
}

.chat__text {
    text-align: center;
    width: auto;
    padding: 0 15px 0 0;
    color: white;
    font-family: var(--font2);
}

.chat__hidden {
    display: none;
}

.chat__show {
    /* display: none; */
    position: absolute;
    bottom: 0;
    right: -2px;
    width: 260px;
    padding: 20px;
    height: 350px;
    background: rgb(23, 48, 58);
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.253);
    border: 1px solid rgba(0, 0, 0, 0.253);    
}

.chat__show  .button-type2 {
    padding: 10px 0;
    margin: auto;
    width: 200px;
    color: white;
    border-color:white;;
}

.chat__show  .button-type2:hover {
    background-color: white;
    color: black;
}


/* Drop down menu |----------------------------------------------*/
.dropdown-container {
    display: none;  
}

/* Home section |------------------------------------------*/

.home-section {
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0px -15px 10px -25px rgb(0 0 0);
    /* background-image: url("source/img1.png");
    background-size: cover; */
}

.home__header {
    height: 180px;
    display: grid;
    /* align-items: center; */
    grid-template-columns: 30% 70%
}

.header__logo {
    width: inherit;
    height: auto;
    margin: auto auto auto 5vw;
    text-align: center;
}

.header__logo img {
    width: 300px;
    height: auto;
}

.header__navigation {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--font2);
    font-weight: bold;
    margin: auto 0;
}

.header__nav-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.30rem;   
    padding-bottom: 5px;     
    transition: 0.2s;
    text-shadow: 0px 0px 15px 20px rgb(0, 0, 0);
    margin: auto 3vw;
    text-align: center;
}

.header__nav-link:hover {
    transform: scale(1.05);
    padding-bottom: 5px;     
    border-bottom: white solid 1px;
}

.home__headline {
    width: 50vw;
    height: auto;
    position: absolute;
    top: 30vh;
    left: 40vw;
}

.headline {
    font-family: var(--font1);
    font-size: 4vw;
    line-height: 1.6;
    padding-bottom: 10px;
    background: #FDD8A5;
    background: -webkit-linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
    background: -moz-linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
    background: linear-gradient(to right, #FDD8A5 0%, #FFFFFF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: 3vh;
}

.home__background-container {
    width: 100vw;
    height: 105vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}

.background-img3-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80vh;
    width: 80vw;
    z-index: -3;
}

.background-img3 {
    background-image: url("source/img2.2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 80vw;
    display: block;
}

/* .background-img2 {
    position: absolute;
    top: 220px;
    left: 280px;
    z-index: -4;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    width: 650px;
    height: 650px;
    border: rgba(255, 255, 255, 0.308) 1px solid; 
} */

.background-img1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    background-image: url("source/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 105vh;
}

/* Section 1.2 - Services---------------------------------- */
.services-section {
    width: 100vw;
    height: 60vh;
    background: rgb(255, 255, 255);
    z-index: -2;
    display: flex;
}

.services-container {
    max-width: 900px;
    padding: 5vw;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services__header {
    margin-top: 0;
    margin-bottom: 5vh;
}

.services__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 700px;
    margin-bottom: 2.5vh;
}

.services__icon {
    height: 70px;
    width: 70px;
}


/* Section 2 ---------------------------------------------- */
.section2 {
    width: 100vw;
    height: 100vh;
    background: rgb(247, 246, 240);
    z-index: -2;
    display: flex;
    justify-content: center;
}

.s2-container {
    border-bottom: rgba(0, 0, 0, 0.13) solid 2px;
    border-top: rgba(0, 0, 0, 0.13) solid 2px;
    height: inherit;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 55% 45%
}

.s2-text {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    height: 350px;

    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 30vh;
    text-align: center;
}

.s2-img3 {
    height: 30vw;
    width: 30vw;
    margin: auto;
    object-fit: cover;
}

.s2-img3-2 {
    display: none;
}

/* Section 3 ---------------------------------------------- */
.section3 {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: -2;
    display: flex;
    justify-content: center;
}

.s3-container {
    border-bottom: rgba(0, 0, 0, 0.13) solid 2px;
    height: inherit;
    width: 90%;
    margin: auto 0;
    display: grid;
    grid-template-columns: 45% 55%
}

.s3-text {
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
    height: 350px;

    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 30vh;
    text-align: center;
}

.s3-img4 {
    height: 30vw;
    width: 30vw;
    margin: auto;
    object-fit: cover;
}

/* Section 4 ---------------------------------------------- */
.section4 {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: -2;
    display: flex;
}

.s4-container {
    width: 95vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header ligger øverst */

.blog-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.posts-container {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

/* Button ligger øverst */


/* Footer ---------------------------------------------- */
.footer {
    width: 100vw;
    height: auto;
    background-image: url("source/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -3;
    box-shadow: inset 0px 15px 10px -25px rgb(0 0 0);
}

.footer-container {
    height: 30vh;
    padding: 5vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer__logo {
    height: auto;
    width: 300px;
}

.footer__logo img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    filter: brightness(0) invert();
    
}

.footer__button {
    width: auto;
    margin: 20px 0 20px 0;
}

.footer-container p {
    margin: 0;
}